.header{
    margin-left: 14%;
    padding-top: 5%;
}
.row{
    display: flex;
    padding-top: 3%
}

.mason{
    margin-left: 14%;
    size: 50%;
}

.mamaTony{
    margin-left: 17%;
    padding-top: 5%
}

.hiking{
    margin-left: 10%;

}

.snorkel{
    margin-left:10%;
    padding-top: 5%;
    
}

.boyfie{
    margin-left:300px;
}
.hawaii{
    padding-top: 5%;
    margin-left: 20%;
}
.annie{
    margin-left:14%;
}

.corndog{
    margin-left:10%;
}