.header{
    margin-left: 200px;
    padding-top: 5%;
}

.mason{
    margin-left: 200px;
    size: 50%;
}

.mamaTony{
    margin-left: 600px;
}

.hiking{
    margin-left: 600px;

}

.snorkel{
    margin-left:300px;
}

.boyfie{
    margin-left:300px;
}
.hawaii{
    margin-left:300px;
}
.annie{
    margin-left:300px;
}

.corndog{
    margin-left:300px;
}